<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <nav class="edit-nav">
        <a href="/store"><i class="fa-solid fa-arrow-rotate-left"></i> Back to Main</a>
    </nav>
    <h1>Currently Updating <%= product.name %></h1>
    <form action="/store/<%=product._id%>?_method=PUT" method="post">
        <label for="name">Name: <input type="text" name="name" value="<%= product.name %>"></label>
        <label for="description">Description: <input type="text" name="description" value="<%= product.description %>"></label>
        <label for="img">Image Link: <input type="text" name="img" value="<%= product.img %>"></label>
        <label for="price">Price: $<input type="number" name="price" value="<%= product.price %>"></label>
        <label for="qty">Quantity: <input type="text" name="qty" value="<%= product.qty %>"></label>
        <input type="submit" value="Update">
    </form>
</body>
</html>