<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body class="index-body">
    <header class="index-header">
        <h1 class="index-title">Products Index</h1>
    </header>
    <nav class="index-nav">
        <a href="/store/new"><i class="fa-solid fa-square-plus"></i>  Add Product</a>
        <a href=""><i class="fa-solid fa-cart-shopping"></i>  Cart</a>
    </nav>
    <div class="index-products">
            <% products.forEach(product => { %>
                <div class="index-product">
                    <h3 class="index-product-name"><a href="/store/<%=product._id%>"><%= product.name %></a></h3> <br>
                    <a href="/store/<%=product._id%>"><img src="<%= product.img %>"></a> <br>
                    <br class="index-product-price">Price: $<%= product.price %> </br> <%= (product.qty > 0) ? product.qty + " In Stock " : "OUT OF STOCK" %></h3> 
                </div>
            <% }) %>
    </div>
</body>
</html>