<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <nav>
        <a href="/store">Back to Main</a>
    </nav>
    <h1><%= product.name %></h1> <br>
    <div class="product-info">
        <img src="<%= product.img %>" alt=""> <br>
        <p> <%= product.description %></p> <br>
        Price: $<%= product.price %> <br>
        <h3> <%= product.qty  %> Remaining</h3> <br>
        <button>BUY</button> <br>
        <a href="">Edit <%= product.name %></a>
    </div> <br>
    <form action="" method="post">
        <input type="submit" value="DELETE <%= product.name%>">
    </form>
</body>
</html>