<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body class="show-body">
    <nav class="show-nav">
        <a href="/store"><i class="fa-solid fa-arrow-rotate-left"></i> Back to Main</a>
    </nav>
        <h1 class="show-title"><%= product.name %></h1> 
        <div class="product-info">
            <img src="<%= product.img %>" alt=""> 
            <p class="show-description"> <%= product.description %></p> 
            Price: $<%= product.price %> 
            <h3 class="show-inventory <%=outOfStock()%>"> <%= (product.qty > 0) ? product.qty + " In Stock " : "OUT OF STOCK" %></h3> 
        </div> 
        <div class="show-btns">
            <!--  The Buy form bellow needs to be a PUT request to the product being displayed and minipulate the product quantity-->
            <form id="buy-form" action="/store/buy/<%=product._id%>?_method=PUT" method="post">
                <fieldset id="<%=hideBuy()%>">
                    <legend>How many would you like to buy?</legend>
                    <input id="buy-qty" type="number" maxlength="4" size="4" name="qty" value="1"> <br>
                    <input class="show-btn-buy" type="submit" value="BUY">
                </fieldset> 
            </form>
            <a href="/store/<%=product._id%>/edit"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
            <form action="/store/<%=product._id%>?_method=DELETE" method="post">
                <input class="show-btn-delete" type="submit" value="DELETE">
            </form>
        </div>
</body>
<script>
    
</script>
</html>